<div class="marks-table">
  <div class="marks-table__container">
    <h2 class="marks-table__title">Student Marks</h2>
    <label class="marks-table__label" for="filterInput">Filter by total marks greater than:</label>
    <input
      class="marks-table__input"
      type="number"
      id="filterInput"
      [(ngModel)]="filterMark"/>
    <button (click)="filterStudents()" class="marks-table__filter">Filter</button>

    <table class="marks-table__table">
      <thead class="marks-table__head">
        <tr class="marks-table__">
          <th class="marks-table__h-data">Name</th>
          <th class="marks-table__h-data">Age</th>
          <th class="marks-table__h-data">Department</th>
          <th class="marks-table__h-data">Total Marks</th>
        </tr>
      </thead>
      <tbody class="marks-table__body">
        <tr *ngFor="let student of filteredStudents" class="marks-table__">
          <td class="marks-table__data">{{ student.name }}</td>
          <td class="marks-table__data">{{ student.age }}</td>
          <td class="marks-table__data">{{ student.department }}</td>
          <td class="marks-table__data">{{ student.totalMarks }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>